#
# voltron.cfg
#
# Sample config file. Put this in "~/.voltron/config". You can probably figure out more config options
# by reading the source. View-specific settings override the same settings in "all_views".
#
# Format is very much in flux.
#

{
    "view": {
        "curses": false,
        "restart_on_error": true,
        "all_views": {
            "clear": true,
            "header": {
                "show":         true,
                "pad":          " ",
                "colour":       "blue",
                "bg_colour":    "grey",
                "attrs":        [],
                "label_left": {
                    "name":         "info",
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                },
                "label_right": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                }
            },
            "footer": {
                "show":         false,
                "pad":          " ",
                "colour":       "blue",
                "bg_colour":    "grey",
                "attrs":        [],
                "label_left": {
                    "name":         null,
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                },
                "label_right": {
                    "name":         null,
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                }
            }
        },
        "register_view": {
            "format_defaults": {
                "label_colour":     "green",
                "value_colour":     "grey",
                "value_colour_mod": "red"
            },
            "footer": {
                "show": true
            }
        },
        "disasm_view": {
            "header": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         null
                }
            }
        },
        "stack_view": {
            "header": {
                "show": false
            },
            "footer": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         "info",
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                }
            }
        },
        "bt_view": {
            "header": {
                "show": false
            },
            "footer": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         "info",
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                }
            }
        },
        "some_named_stack_view": {
            "header": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "red",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         "info",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        []
                }
            },
            "footer": {
                "show": false
            }
        }
    }
}
