#
# defaults.cfg
#
# Default config file. Unless you are snare, probably don't change this.
#
# To customise the configuration, create a file with the same format in ~/.voltron/ called "config". You don't need to
# specify every option that is in the default config in your local config. Any options you do specify will override
# those in the default.
#
# For example, if you only want to change the default header colours, the following config will suffice:
# {
#     "view": {
#         "all_views": {
#             "header": {
#                 "colour":       "red",
#                 "bg_colour":    "green",
#             }
#         }
#     }
# }
# You can probably figure out more config options by reading the source. View-specific and named view settings override
# the same settings in "all_views".
#
# Format is subject to change.
#

{
    "general": {
        "debug_logging": false
    },
    "server": {
        "listen": {
            "domain":   true,
            "tcp":      false,
            "http":     false
#            "tcp":      ["127.0.0.1", 4444],
#            "http":     ["127.0.0.1", 5555]
        }
    },
    "view": {
        "reconnect": true,
        "all_views": {
            "clear": true,
            "update_on": "stop",
            "header": {
                "show":         true,
                "pad":          " ",
                "colour":       "blue",
                "bg_colour":    "grey",
                "attrs":        [],
                "label_left": {
                    "name":         "info",
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                },
                "label_right": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                }
            },
            "footer": {
                "show":         false,
                "pad":          " ",
                "colour":       "blue",
                "bg_colour":    "grey",
                "attrs":        [],
                "label_left": {
                    "name":         null,
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                },
                "label_right": {
                    "name":         null,
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                }
            }
        },
        "register_view": {
            "format_defaults": {
                "label_format":     "{0}:",
                "label_func":       "str.upper",
                "label_colour":     "green",
                "label_colour_en":  true,
                "value_format":     "{0:0=16X}",
                "value_func":       null,
                "value_colour":     "grey",
                "value_colour_mod": "red",
                "value_colour_en":  true,
                "format_name":      null
            },
            "footer": {
                "show": true
            },
            "sections":     ["general"],
            "orientation":  "vertical"
        },
        "disasm_view": {
            "header": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         null
                }
            }
        },
        "stack_view": {
            "header": {
                "show": false
            },
            "footer": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         "info",
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                }
            }
        },
        "memory_view": {
            "header": {
                "show": false
            },
            "footer": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         "info",
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                }
            },
            "format": {
                "addr_format":     "{0:0=16X}",
                "addr_colour":      "blue"
            }
        },
        "bt_view": {
            "header": {
                "show": false
            },
            "footer": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         "info",
                    "colour":       "blue",
                    "bg_colour":    "grey",
                    "attrs":        []
                }
            }
        },
        "some_named_stack_view": {
            "header": {
                "show": true,
                "label_left": {
                    "name":         "title",
                    "colour":       "red",
                    "bg_colour":    "grey",
                    "attrs":        ["bold"]
                },
                "label_right": {
                    "name":         "info",
                    "colour":       "white",
                    "bg_colour":    "grey",
                    "attrs":        []
                }
            },
            "footer": {
                "show": false
            }
        }
    },
    "console": {
        "prompt": {
            "format": "{red}voltron>{reset} "
        }
    }
}
